body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #5bc0de;
}

h1 {
    color: #9b59b6;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}
